APP_NAME="Khanza Web"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Asia/Jakarta
APP_URL=https://your-domain.com

#BridgingPcare
BPJS_CONS_ID=YourConsID        # X-cons-id dari BPJS Kesehatan
BPJS_SECRET=YourSecretKey      # Secret key (untuk HMAC SHA256 signature)
BPJS_USER_KEY=YourUserKey      # user_key dari BPJS Kesehatan
BPJS_BASE_URL_PCARE=https://api.bpjs-kesehatan.go.id/trustmark/v1/  # Contoh Base URL API Trust Mark
BPJS_BASE_URL_ANTROL=https://api.bpjs-kesehatan.go.id/trustmark/v1/  # Contoh Base URL API Trust Mark
BPJS_USER_PCARE=PCARE
BPJS_USER_PASSWORD=PASSWORD


APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

#Custom agar menyesuaikan data dinamis Photo
#Pegawai
# UPDATE THIS PATH - Windows path not suitable for production
# For Linux: /var/www/html/storage/app/pegawai/pages/pegawai/photo
# For Docker: /app/storage/app/pegawai/pages/pegawai/photo
PEGAWAI_PHOTO_PATH=/path/to/pegawai/photo

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=fadhila
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
